body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f1f5f9;

}

header{
background-color: #a13650;
color: #fff;
text-align: center;
padding: 20px;
}

h1{
    font-size: 22px;
    margin: 0;
}

h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.imagem{
    text-align: center;
    margin: 20px 0;
}

img{
    max-width: 200px;
}

.descricao{
    padding: 20px;
}

p{
    font-size: 16px;
}

.formulario{
    background-color: #f15178;
    text-align: center;
    padding: 20px;
    color:#fff;
}

form{
    margin: 0 auto;
    width: 50%;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

footer{
    background-color: #a13650;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.itens{
    font-size: 16px;
    font-weight: bold;
    color: #a13650;
    margin: 20px;
}